[init]
	defaultBranch = main
[user]
	name = Zenoix
	email = 41812358+Zenoix@users.noreply.github.com
[credential]
	helper = /mnt/c/Users/jeffwang2/AppData/Local/Programs/Git/mingw64/bin/git-credential-manager.exe
[credential "https://dev.azure.com"]
	useHttpPath = true
[alias]
    tree = log --all --graph --decorate
